<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/submit.css" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <title>Submit Poll</title>

  </head>

  <body>

    <main>
      <section class="poll-container">
      <h1>Submit your vote</h1>
      <div>
        <h2>Title of the Poll</h2>
        <p>Description of the poll</p>
      </div>

        <form action='/submit/<%= id %>' method="POST">
          <%if(name_required) { %>
          <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Your name" />
        </div>
        <% } %>
        <div id="sort" class="sort-container">
          <%let i = 1; %>
          <% for (let choice of choices) { %>
            <div data-id="<%=i%>"> <input type="text" name="choice<%=i%>" value="<%= choice.title %>" readonly></input> <input type="text" value="<%= choice.description %>" readonly></input></div>
            <% i++; %>
          <% } %>
      </div>
      <button class="btn btn-dark" type="submit">Submit Poll</button>
      <button class="btn btn-dark" type="button" id="reset-order">Reset Poll</button>
    </form>
      </section>
    </main>

  </body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
